@media screen and (max-width: 767px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
    min-width: 480px;
    max-width: 767px;
    width: 100%;
  }

  .about__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 450px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .about__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 450px;
    height: 120px;
    background: var(--background-btn-color);
    margin-bottom: 30px;
  }

  .about__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 10px;
  }

  .about__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about {
    padding-bottom: 60px;
    padding-top: 60px;
    margin: 0 auto;
  }

  .about__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: -30px;
    margin-right: -30px;
  }

  .about__item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;

    width: 354px;
    height: 251px;

    flex-basis: calc(100% / 2 - 30px);
    margin-bottom: 30px;
    margin-right: 30px;
  }

  .about__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 354px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 24px;
  }

  .about__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 10px;
  }

  .about__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-bottom: 47px;
    padding-top: 94px;
  }

  .about__item {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .about__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  .about__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 10px;
  }

  .about__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    width: 270px;
  }

  .about__list {
    display: flex;
    align-items: center;
  }
}
