@media screen and (max-width: 767px) {
  .team {
    width: 480px;
    background-color: var(--background-btn-color);
    background-size: contain;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .team__title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
  }

  .team__item {
    width: 450px;
    height: 622px;

    background-color: var(--header-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .team__wrapper {
    padding-top: 30px;
    padding-bottom: 24px;
  }

  .team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 10px;
  }

  .team__position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    margin-bottom: 16px;
  }

  .team__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .team__social-item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .team__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--social-link-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    background-color: var(--background-btn-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .team__title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
  }

  .team__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-top: -30px;
    margin-right: -30px;
  }

  .team__item {
    width: 354px;
    height: 566px;

    background-color: var(--header-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-right: 30px;
  }

  .team__wrapper {
    padding-top: 30px;
    padding-bottom: 24px;
  }

  .team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 10px;
  }

  .team__position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    margin-bottom: 16px;
  }

  .team__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .team__social-item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .team__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--social-link-color);
  }
}

@media screen and (min-width: 1200px) {
  .team {
    background-color: var(--background-btn-color);
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
  }

  .team__list {
    display: flex;
    align-items: center;
    margin-top: -30px;
    margin-right: -30px;
  }

  .team__item {
    flex-basis: calc(100% / 4 - -30px);
    margin-top: 30px;
    margin-right: 30px;
    background-color: var(--header-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  .team__img {
    display: block;
  }

  .team__wrapper {
    padding: 30px 32px;
  }

  .team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 10px;
  }

  .team__position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    margin-bottom: 16px;
  }

  .team__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .team__social-item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .team__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--social-link-color);

    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: var(--header-background-color);
      background-color: var(--accent-color);
    }
  }
}
