@media screen and (max-width: 767px) {
  .portfolio__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
  }

  .portfolio__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .portfolio__link {
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  .portfolio__overlay {
    position: relative;
    overflow: hidden;
  }

  .potfolio__img {
    display: block;
  }

  .portfolio__overlay-txt {
    font-family: var(--main-font);
    font-style: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;

    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio__link:hover &,
    .portfolio__link:focus & {
      transform: translateY(0%);
    }
  }

  .portfolio__wrapper {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
  }

  .portfolio__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
    margin-bottom: 4px;
  }

  .portfolio__our-projects {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: -30px;
    margin-top: -30px;
  }

  .portfolio__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-top: 30px;

    &:first-child .portfolio__wrapper {
      height: 146px;
    }
  }

  .portfolio__link {
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  .portfolio__overlay {
    position: relative;
    overflow: hidden;
  }

  .potfolio__img {
    display: block;
  }

  .portfolio__overlay-txt {
    font-family: var(--main-font);
    font-style: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;

    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio__link:hover &,
    .portfolio__link:focus & {
      transform: translateY(0%);
    }
  }

  .portfolio__wrapper {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
  }

  .portfolio__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
    margin-bottom: 4px;
  }

  .portfolio__our-projects {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-top: -30px;
  }

  .portfolio__item {
    display: flex;
    align-items: center;
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-top: 30px;
  }

  .portfolio__link {
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  .portfolio__overlay {
    position: relative;
    overflow: hidden;
  }

  .potfolio__img {
    display: block;
  }

  .portfolio__overlay-txt {
    font-family: var(--main-font);
    font-style: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;

    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    /* overflow: scroll; */

    transform: translateY(101%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio__link:hover &,
    .portfolio__link:focus & {
      transform: translateY(0%);
    }
  }

  .portfolio__wrapper {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
  }

  .portfolio__title {
    /* width: 322px;
    height: 36px; */
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
    margin-bottom: 4px;
  }

  .portfolio__our-projects {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    /* width: 322px;
    height: 30px; */
  }
}
