@media screen and (max-width: 767px) {
  .portfolio__btn-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 450px;
  }

  .portfolio__btn-item {
    margin-right: 8px;
    margin-bottom: 15px;
  }

  .portfolio__btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    cursor: pointer;
    background-color: var(--background-btn-color);
    border: none;
    padding: 6px 22px;
    border-radius: 4px;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--header-background-color);
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__btn-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .portfolio__btn-item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  .portfolio__btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    cursor: pointer;
    background-color: var(--background-btn-color);
    border: none;
    padding: 6px 22px;
    border-radius: 4px;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--header-background-color);
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__btn-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .portfolio__btn-item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  .portfolio__btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    cursor: pointer;
    background-color: var(--background-btn-color);
    border: none;
    padding: 6px 22px;
    border-radius: 4px;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--header-background-color);
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
